<h1 style="background-color: black; color:white; ">{{message}}</h1>
<h2  style="background-color: black; color:white; " >{{status}}</h2>
<pre  style="background-color: black; color:white; ">{{error.stack}}</pre>
