<div class="ind d-flex justify-content-center">
<h1 class="ih1 " >{{name}}</h1>
</div>

    
    <div class="container text-center " style="height: 350px;  opacity: 0.8;">
        <div class="index" style="align-self: center; margin-top:2cm; ">
            <h5 style='font-weight: bold; margin-bottom:30px;margin-top:20px '>Welcome to {{title}}</h5>
            <div class="form-check form-check-inline">
                    <a href="/signin" role="button"> <button class="btn btn-primary btn-md"> sign in! </button>  </a>
            </div>
            <div class="form-check form-check-inline">
                <a href="/signup" role="button"><button class="btn btn-primary btn-md"> sign up! </button>  </a>
            </div>
            

        <br>
        <br>


        </div>
        


    </div>
    

    
{{>footer}}










