<div class="d-flex justify-content-center">
<h1 class="ih1" >leave page</h1>
</div>


<p style=" background-color:lemonchiffon; opacity:0.88; color:green; text-align:center; margin-top:20px; border-radius:100px;">Welcome to our school</p>